{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
    <header class="masthead masthead--background"
            style="background-image: url({% static 'assets/img/contact-bg-compressor.jpg' %})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h1 class="masthead-heading text-center text-uppercase text-white mb-0">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto lead">
                <form action="{{ page.url }}" method="POST">
                    {% csrf_token %}

                    {{ page.form.non_field_errors }}

                    {% for field in page.form %}
                        <div class="form-group">
                            {{ field.label_tag }} {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary btn--lead mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
