{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-contactpage{% endblock %}

{% block content %}
    <header class="masthead masthead--background"
            style="background-image: url({% static 'assets/img/contact-bg.jpg' %})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h1 class="masthead-heading text-center text-uppercase text-white mb-0">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto lead">
                <form action="{{ page.url }}" method="POST">
                    {% csrf_token %}

                    {{ page.form.non_field_errors }}

                    {% for field in page.form %}
                        {% if field.name != 'is_active' %}
                            <div class="form-group">
                                {{ field.label_tag }} {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
