{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block content %}
    <header class="masthead masthead--background"
            style="background-image: url({% static 'assets/img/forum-bg-compressor.jpg' %})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h1 class="masthead-heading text-center text-uppercase text-white mb-0">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </header>

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{ page.thread.subject }}</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto lead">
                {{ page.thread.content }}
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Respond</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="container mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto lead">
                    <form action="{{ page.url }}{{ page.thread.id }}/" method="POST">
                        {% csrf_token %}

                        {{ page.form.non_field_errors }}

                        {% for field in page.form %}
                            <div class="form-group">
                                {{ field.label_tag }} {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary btn--lead mt-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="text-center mt-5 mb-5 lead font-weight-bold">
        <p><a href="{{ page.get_parent.url }}">Return to Threads List &rarr;</a></p>
    </div>
{% endblock %}

