{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_page.css' %}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Machine Learning Club</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                    type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i
                    class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                                                         href="/#contact">Contact</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded blog-page-link"
                                                         href="/blog">Blog</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                                                         href="/signup">Sign up</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                                                         href="">Log in</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <header class="masthead masthead--background" style="background-image: url({% static 'assets/img/blog-bg.jpg' %})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h1 class="masthead-heading text-center text-uppercase text-white mb-0">{{ page.title }}</h1>
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in page.get_children %}
                    <div class="post-preview">
                        <a href="">
                            <h2 class="post-title">
                                <a href="{% pageurl post %}">{{ post.title }}</a>
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.specific.intro }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">Start Bootstrap</a>
                            on August 24, 2019</p>
                    </div>
                    <hr/>
                {% endfor %}

                <!-- Pager -->
                <div class="text-center mt-5 mb-5 lead font-weight-bold">
                    <p><a href="{{ page.get_parent.url }}">Older Posts &rarr;</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}