{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/article_index_page.css' %}">
{% endblock %}

{% block content %}
    <header class="masthead masthead--background"
            style="background-image: url({% static 'assets/img/articles-bg-compressor.jpg' %})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h1 class="masthead-heading text-center text-uppercase text-white mb-0">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for article in page.get_children %}
                    <div class="article-preview">
                        <a href="">
                            <h2 class="article-title">
                                <a href="{% pageurl article %}">{{ article.title }}</a>
                            </h2>
                            <h3 class="article-subtitle">
                                {{ article.specific.intro }}
                            </h3>
                        </a>
                        <p class="article-meta">Posted by
                            <a href="#">{{ article.owner.first_name }} {{ article.owner.last_name }}</a>
                            on August 24, 2019</p>
                    </div>
                    <hr/>
                {% endfor %}

                <!-- Pager -->
                <div class="text-center mt-5 mb-5 lead font-weight-bold">
                    <p><a href="{{ page.url }}">Older Articles &rarr;</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}