#mainNav .navbar-nav li.nav-item a.nav-link.signup-page-link {
    color: #1abc9c;
}

@media (min-width: 992px) {
    #mainNav .navbar-nav li.nav-item a.nav-link.signup-page-link {
        color: #ffffff;
        background: #1abc9c;
    }
}
